body {
    background-color: #0b0c15;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
}

.hero {
    min-height: 130vh;
    position: static;
    overflow: hidden;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    mask: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    user-select: none;
}

.hero-title {
    font-size: 5rem;
    margin-top: 20%;
    margin-left: 5%;
    padding: 0;
    z-index: 200;
    position: relative;
    user-select: none;
}

.typed-cursor {
    font-size: 5rem;
    opacity: 1;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
}

.content {
    margin: 5%;
    height: 200vh;
}

.spacer {
    height: 65vh;
}

.info-section {
    text-align: right;
}

.info-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-text {
    font-size: 1.5rem;
}

.countdown-section {
    text-align: left;
    margin-bottom: 5%;
}

.countdown-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.countdown-text {
    font-size: 1.5rem;
}

.advisor-section{
	text-align: right;
    display: flex;
}

.advisor-left {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.advisor-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
}

.advisor-title {
	font-size: 3rem;
    margin-bottom: 1rem;
}

.advisor-text {
    font-size: 1.5rem;
}

.advisor-schedule {
	width: 100vh;
    position: relative;
    z-index: 50;
    user-select: none;
}

.people-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #24262e;
}

::-webkit-scrollbar-thumb {
    background: #b8b9c3;

    border: 3px solid #24262e;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #ececf1;
}

#particles-js {
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
}

.contact-section {
    text-align: center;
    padding-top: 8%;
}

.contact-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.people-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    min-width: 650px;
    max-width: 1000px;
    margin: 1rem 0;
    background-color: #1c1c24;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    z-index: 200;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.person-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    text-align: left;
    padding-left: 3rem;
    transform: translateZ(40px);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    transform: translateZ(30px);
}

.person h3 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.person p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.person .job-description {
    font-size: 1.2rem;
    color: #b8b9c3;
    text-align: center;
}