body {
    background-color: #191922;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
}

.hero-title {
    font-size: 5rem;
    margin-top: 30rem;
    margin-left: 10rem;
    padding: 0;
}

.hero-image {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.typed-cursor {
    font-size: 5rem;
    opacity: 1;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #24262e;
}

::-webkit-scrollbar-thumb {
    background: #b8b9c3;

    border: 3px solid #24262e;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #ececf1;
}